@import "style.css";
.container-contact{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    display: flex;
    background: #FFFFFF;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px ;
    background: grey;
    color: #FFFFFF;
}
p{
    margin-bottom: 10px;
}
.container-contact p{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
}
.btn4{
    width: 100px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 60px;
    height: 35px;
}
.btn4:hover{
    background-color: black;
    color: white;
}
tr td:first-child{
    padding-left: 20px;
}
tr td{
    padding-top: 20px;
}